<%- include("./partials/header") %>
<div class="ui main text container">
	<div class="ui top attached segment">
		<div class="ui huge header" id="black-text"><%= blog.title %></div>
		<div class="item">
			<div class="content">
				<span>by <a href="/blogs/articles/<%= blog.author %>"><i><%= blog.author %></i></a></span>
				<span class="right-float"><%= blog.created.toDateString() %></span>
			</div>
			<img class="ui centered rounded image" src="<%= blog.image %>" alt="">
			<div class="description">
				<p><%- blog.body %></p>
			</div>
			<a class="ui orange basic button" href="/blogs/<%= blog._id %>/edit">Edit Post</a>
			<form class="right-float" id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
				<button class="ui red basic button">Delete</button>
			</form>
		</div>
	</div>
</div>
<%- include("./partials/footer") %>